In [ ]:
#Create a function that take 2 input and make it a power of other

In [ ]:
n=2
p=3

In [1]:
def power(n,p):
    return n**p

In [2]:
power(2,3)   #we can also write this function in other way as well

8

<H5>#Lambda Function (short hand function)
    
<h5>A lambda function is an anonymous function in Python, meaning that it is a small, one-line function that doesn't have a name. They are used to create small, throw-away functions that are used   for a limited time.

In [6]:
a=lambda n,p:n**p   #Lambda is a ananamous function(a function without a name)

In [5]:
a(2,3)

8

In [7]:
a(5,8)

390625

In [8]:
#Add using lambda function
add=lambda a,b:a+b
add(3,4)

7

In [11]:
#degree to fahrenheit conversion
c_to_f=lambda c:(9/5)*c+32
c_to_f(0)

32.0

In [12]:
c_to_f(34)

93.2

In [15]:
#lambda function to find maximum of two number
max=lambda x,y:x if x>y else y

In [16]:
max(45,67)

67

<H3>Map,reduce and filter function
    
<h5>The map function in Python takes a function and an iterable as arguments and returns a new iterable with the function applied to each element. The result is a list of the results, which can be used for further processing.
    
<h5>The reduce function in Python takes a function and an iterable as arguments and applies the function cumulatively to the elements of the iterable. The result is a single value, which is the final result of the reduction.
    
<h5>The filter function in Python takes a function and an iterable as arguments and returns a new iterable with only the elements that satisfy the condition specified by the function. The result is a filtered list of elements that satisfy the condition.

In [19]:
l=[1,2,3,4,5,6,7]

In [ ]:
#Write a function that returns the square of every element of the list

In [22]:
def square(l):
    l1=[]
    for i in l:
        i=i**2
        l1.append(i)
    return l1

In [23]:
square(l)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Map function do the mapping between the object of the iterables and function

In [24]:
def sq(x):
    return x**2

In [25]:
map(sq,l)   #it is a map object

In [26]:
list(map(sq,l))  #it gives the output

[1, 4, 9, 16, 25, 36, 49]

In [29]:
#Map function having a lambda function
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49]

In [31]:
#Add two list together
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [32]:
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13, 15]

In [ ]:
#We can set the internal function to some  reference variable and use it

In [33]:
f=lambda x,y:x*y

In [34]:
list(map(f,l1,l2))

[6, 14, 24, 36, 50]

In [ ]:
#Take the string and append the character of the string by making it upper case

In [35]:
s="DeepaGupta"     #Map function will map character wise the string to the function
list(map(lambda x:x.upper(),s))

['D', 'E', 'E', 'P', 'A', 'G', 'U', 'P', 'T', 'A']

In [ ]:
#reduce (not present in python code it present in a package by default)

In [36]:
from functools import reduce

In [ ]:
#Return the sum of all the element inside a list

In [39]:
l=[5,6,7,8,9,2,4,2,5,6]  #(5,6),7,8,9,2,4,2,5,6   -->   11,7,8,9,2,4,2,5,6    and so on
                        #   x   y                        x y

In [40]:
reduce(lambda x,y:x+y,l)

54

In [ ]:
#write external function and then perform reduce function

In [41]:
def add(x,y):
    return x+y

In [42]:
reduce(add,l)

54

In [43]:
reduce(lambda x,y,z:x+y+z,l)
#We cann't perfrom reduce function on 3 parameter(only works on 2 parameters as it reduce the dataset)
#so reduce functon only works fine with only 2 parameter function not more than 2 parameters

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [44]:
reduce(lambda x,y:x+y,[])  #Again it will not work for an empty list

TypeError: reduce() of empty iterable with no initial value

In [45]:
reduce(lambda x,y:x+y,[2])  #but exceptionaly it work for a list having only one element
#But how?

2

In [46]:
#Find maximum of the list
l=[5,6,7,8,9,2,4,2,5,6]

In [48]:
reduce(lambda x,y:x if x>y else y,l)

9

In [ ]:
#Filter function

In [49]:
l

[5, 6, 7, 8, 9, 2, 4, 2, 5, 6]

In [ ]:
#can we filter only the odd or even no from the list?

In [52]:
filter(lambda x:x%2==0,l)

In [53]:
list(filter(lambda x:x%2==0,l))  #Even

[6, 8, 2, 4, 2, 6]

In [54]:
list(filter(lambda x:x%2!=0,l))  #odd

[5, 7, 9, 5]

In [55]:
#Show only the negative or positive numbers from the list
l1=[-1,-2,-3,4,5,7,9,6,5]

In [57]:
list(filter(lambda x:x<0,l1))    #negative no

[-1, -2, -3]

In [ ]:
list(filter(lambda x:x>=0,l1))   #positive no

In [61]:
#Show the string whose length is less than 6
l2=["Deepa","Gupta","YMCA","Aman","Punjab","Chennai"]

In [62]:
list(filter(lambda x:len(x)<6,l2))

['Deepa', 'Gupta', 'YMCA', 'Aman']