## Central tendency

In [19]:
#mean
a=[1,2,4,5,7,7,8,44,3,5]

In [20]:
import numpy as np
np.mean(a)

8.6

In [26]:
a1=[1,2,4,5,7,7,8,44,3,6,1000]   #adding one outlier

In [27]:
np.mean(a1)    # Drastic change in the mean value

98.81818181818181

In [ ]:
#Median

In [24]:
np.sort(a)

array([ 1,  2,  3,  4,  5,  5,  7,  7,  8, 44])

In [18]:
np.median(a)

5.0

In [28]:
np.sort(a1)

array([   1,    2,    3,    4,    5,    6,    7,    7,    8,   44, 1000])

In [29]:
np.median(a1)

6.0

In [30]:
#mode
from scipy import stats

In [31]:
stats.mode(a1)   #There is a warning nothing to worry about this

/tmp/ipykernel_103/4221800678.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(a1)

ModeResult(mode=array([7]), count=array([2]))

## Dispersion

In [1]:
#Variance
import numpy as np

In [2]:
age_list=[23,45,67,54,33,44,32,46,88]

In [3]:
np.mean(age_list)

48.0

In [4]:
np.var(age_list)

348.0

In [5]:
#Standard deviation
np.std(age_list)

18.65475810617763

In [6]:
#find variance and standard deviation using the python library
import pandas as pd

In [7]:
data=[[3,56,78],[23,45,78],[78,34,23]]

In [14]:
#Convert this data into pandas dataframe
df=pd.DataFrame(data,columns=["A","B","C"])

In [12]:
df

    A   B   C
0   3  56  78
1  23  45  78
2  78  34  23

In [17]:
df.var(0)  #By default this will take column wise variance

A    1508.333333
B     121.000000
C    1008.333333
dtype: float64

In [18]:
df.var(1)   #row wise variance

0    1486.333333
1     766.333333
2     847.000000
dtype: float64

In [20]:
df.std()   #columnwise standard deviation

0    38.552994
1    27.682726
2    29.103264
dtype: float64

In [21]:
df.std(1)   #rowwise standard deviation

0    38.552994
1    27.682726
2    29.103264
dtype: float64

## Covariance and Correlation with python

In [2]:
import seaborn as sns

In [5]:
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [6]:
#Find covariance and correlation
import numpy as np

In [8]:
df.cov()    #This function is giving all the covariances betweeen all the  variable

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [10]:
#But we have to finnd the covariance between the spending_USD and Life_expectancy 
df.corr(method='spearman')     #using spearsman rank correlation (value between -1 to 1

/tmp/ipykernel_77/663444250.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')     #using spearsman rank correlation

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [11]:
df.corr(method='pearson')  #Pearson rank corr

/tmp/ipykernel_77/1511869948.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')  #Pearson rank corr

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [13]:
df=sns.load_dataset('penguins')

In [14]:
df.corr()

/tmp/ipykernel_77/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

In [15]:
df.cov()

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,29.807054,-2.534234,50.375765,2605.591912
bill_depth_mm,-2.534234,3.899808,-16.212950,-747.370093
flipper_length_mm,50.375765,-16.212950,197.731792,9824.416062
body_mass_g,2605.591912,-747.370093,9824.416062,643131.077327