Tuples

In [8]:
t=()

In [9]:
type(t)

tuple

To create a tuple with a single item, you need to add a comma after the item. Otherwise, 
Python will not recognize the variable as a tuple, and it will treat it as a string type.

In [5]:
t1=(1,)

In [7]:
type(t1)

tuple

In [10]:
t=(1,2,34,56.67,"Aman",True,4.0)

In [11]:
t

(1, 2, 34, 56.67, 'Aman', True, 4.0)

In [12]:
#Accessing a tuple item
t[3]

56.67

In [15]:
t[5]

True

In [16]:
#Tuple in reverse order
t[::-1]    #It will not change the real tuple

(4.0, True, 'Aman', 56.67, 34, 2, 1)

In [18]:
#slicing in tuple
t[1:5]

(2, 34, 56.67, 'Aman')

In [20]:
#in tuple we have only 2 method(count,index)
t.count(2)     #press tab after t. to display all the available functions

1

In [21]:
t.count("abc")

0

In [22]:
t.index(1)   #return index of first value

0

In [23]:
#Assigning the reverse to the t
t=t[::-1]

In [24]:
t

(4.0, True, 'Aman', 56.67, 34, 2, 1)

In [25]:
#now the index of 1 should display the 6
t.index(1)

1

In [26]:
 #But it returns index 1(true) because the python consider the true as 1 ,false as 0 and vice versa
 t.index(True)

1

In [27]:
t.count(True)   #Giving answer 2 because 1 is also true in python

2

In [28]:
t.count(1)     #Giving answer 2 because true is also 1 in python

2

In [ ]:
#Immutablility of the tuple

In [29]:
t[3]="Deepa"  #can't change the tuple (list can be change)

TypeError: 'tuple' object does not support item assignment

In [32]:
#Itertate through tuple 
for i in t:
    print(i,type(i))

4.0 <class 'float'>
True <class 'bool'>
Aman <class 'str'>
56.67 <class 'float'>
34 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [33]:
#replicate tuple
t*3

(4.0,
 True,
 'Aman',
 56.67,
 34,
 2,
 1,
 4.0,
 True,
 'Aman',
 56.67,
 34,
 2,
 1,
 4.0,
 True,
 'Aman',
 56.67,
 34,
 2,
 1)

In [34]:
#maximum of tuple
max(t)

TypeError: '>' not supported between instances of 'str' and 'float'

In [35]:
t1=(1,2,3,4,5,6,7,7,2,4,23,234,443)

In [37]:
max(t1)

443

In [38]:
#minimum of t1
min(t1)

1

In [ ]:
#When we don't want anyone to change in our data then we use tuples(ex:password)

In [41]:
#TUple inside tuple
tu1=(2,3,4,5,7)
tu2=(5,6,8,7,86,5,6,43,2)
tu3=(tu2,tu1)

In [42]:
tu3

((5, 6, 8, 7, 86, 5, 6, 43, 2), (2, 3, 4, 5, 7))

In [43]:
#list inside a tuple
tu4=((1,5,7,5,7,56,0),[1,2,3,4])
tu4

((1, 5, 7, 5, 7, 56, 0), [1, 2, 3, 4])

In [53]:
#set inside a tuple
tu5=((2,4,5,7),{3,4,6,7})
tu5

((2, 4, 5, 7), {3, 4, 6, 7})

In [44]:
#delete  the tuple
del(tu3)

In [45]:
tu3

NameError: name 'tu3' is not defined

In [46]:
#length function
len(tu4)

2

In [48]:
len(t1)

13

In [49]:
#Check whether a element is persent or not
3 in t1

True

In [50]:
"ghr" in tu4

False

Sets

In [1]:
s={}

In [2]:
type(s)  #It is going type as dictionery

dict

In [3]:
s={1,2,3,5,78,"String",True}    #now it will show type as a set

In [4]:
type(s)

set

In [5]:
s1={1,2,1,2,4,8,88,9,3}

In [6]:
s1    #There is not a single duplicate value (gives unique elements)

{1, 2, 3, 4, 8, 9, 88}

In [10]:
#Convert the set into list
l=list(s1)
l

[1, 2, 3, 4, 8, 9, 88]

In [11]:
#Convert the list into a set
set(l)

{1, 2, 3, 4, 8, 9, 88}

In [12]:
#Make a list inside the set(cannot do this)
s2={2,3,5,7,5,[2,5,3,6,3,5]}   
#Showing an error of unhashable(it store the unique values by 
                               #converting that value into a hashable index )

TypeError: unhashable type: 'list'

In [13]:
#Make a set having a tuple
s3={3,5,7,84,(2,4,5,7,8,9)}
s3

{(2, 4, 5, 7, 8, 9), 3, 5, 7, 84}

In [2]:
s4={"Deepa","deepa",23,3,4,6}  # both value is stored as python is case sensitive language
s4

{23, 3, 4, 6, 'Deepa', 'deepa'}

In [3]:
#We cannot access the index of the items of a set (as set is unordered type of collection)
#as it stores the hashable value internally
s4[3]

TypeError: 'set' object does not support item assignment

We mostly use sets for mathematical operations such as union and intersection. Sets are unordered; it means item order isnâ€™t fixed. So we cannot be sure in which order the items will appear. 
The set is mutable. We can add or remove items from it when required.

In [4]:
#We cannot change the set
s4[3]=5

TypeError: 'set' object does not support item assignment

In [ ]:
#Cant do reverse of the set

In [16]:
#We can iterate through a set
for i in s4:
    print(i)

3
4
6
23
deepa
Deepa

In [19]:
s4.add(8)     # tab key will show every function

In [20]:
s4

{23, 3, 4, 6, 8, 'Deepa', 'deepa'}

In [21]:
s4.add(23)

In [22]:
s4   #cant add duplicate value

{23, 3, 4, 6, 8, 'Deepa', 'deepa'}

In [23]:
#Total no of element of set
len(s4)

7

In [24]:
# remove arbituary set of element
s4.pop()

3

In [27]:
#clear (create the set empty)
s4.clear()

In [28]:
s4

set()

In [29]:
s5={1,2,3,4}
s6={1,2,3,5}

In [30]:
#Difference (unmatching of element)
s5.difference(s6)

{4}

In [31]:
s6.difference(s5)

{5}

Dictionery

In [32]:
d={}

In [33]:
type(d)

dict

We can use the == and != operators to check whether the dictionary contains the same items.

In [34]:
d={"name":"deepa","email":"deep@3736gmail.com","mno":57653443}

In [35]:
d   #Key and value pair is a dictionery

{'name': 'deepa', 'email': 'deep@3736gmail.com', 'mno': 57653443}

In [36]:
d2={"name":"Deepa","name":"DeepaGupta","mno.":767657}

In [37]:
d2   #the key will be unique only and it will updated with the latest value

{'name': 'DeepaGupta', 'mno.': 767657}

In [38]:
d3={123:"abc","string":"abc"}

In [39]:
d3  # the value of two different key can be same

{123: 'abc', 'string': 'abc'}

In [ ]:
#key can be a number,string,boolean,float  
#but we cannot take any special character as a key of a dictionery

In [40]:
#can a list can be key
d4={[1,2,3,4]:"abc"}    #list cannot be a key(it is of a unhashable type)

TypeError: unhashable type: 'list'

In [41]:
#can a tuple can be key
d5={(1,2,3,4):"abc"}

In [42]:
d5     #yes, tuple can be a key of a dictionery

{(1, 2, 3, 4): 'abc'}

In [43]:
#can we take a set as a key
d6={{1,2,4,5}:"abc"}   #no,set cannot be a key(it is of unhashable type)

TypeError: unhashable type: 'set'

In [44]:
#can we take a dictionery as a key
d7={{"key":6454}:64683}    #no dict cannot be a key (it is of unhashable type)

TypeError: unhashable type: 'dict'

In [46]:
#the value of a dictionery can be list 
d8={"course":["dsa","webd","data science"]}
d8

{'course': ['dsa', 'webd', 'data science']}

In [47]:
#the value of a dictionery can be tuple
d9={1:(1,3,4,4,3,5,6)}
d9

{1: (1, 3, 4, 4, 3, 5, 6)}

In [48]:
#the value of a dictionery can be set
d10={1:{1,2,34}}
d10

{1: {1, 2, 34}}

In [ ]:
#the value of a dictionery can be dictionery

In [50]:
d11={1:{1:23,2:45}}   #nested dictionery
d11

{1: {1: 23, 2: 45}}

In [51]:
#All type of collections in value of dictionary
d12={"batch":["datasci","dsa","webd"],1:("deepa","aman","jai"),2:{1,2,3,4},3:{"First":1,"Second":2}}
d12

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 3: {'First': 1, 'Second': 2}}

In [54]:
#add a new element in a dictionery
d12["Deepa"]={"Aman"}

In [55]:
d12

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 3: {'First': 1, 'Second': 2},
 'Deepa': {'Aman'}}

In [ ]:
#Key will behave like index while we access the element in a dictionery

In [56]:
d12["batch"]

['datasci', 'dsa', 'webd']

In [57]:
d12["Deepa"]

{'Aman'}

In [58]:
d12["abc"]   #this key not exist

KeyError: 'abc'

In [61]:
#make result in upper case
d12["batch"].upper()

AttributeError: 'list' object has no attribute 'upper'

In [62]:
#Extract the element in a nested dictionery
d11

{1: {1: 23, 2: 45}}

In [63]:
d11[1][2]

45

In [65]:
#add the element in a nested dictionery
d11

{1: {1: 23, 2: 45}}

In [66]:
d11["key2"]="Deepa"

In [67]:
d11

{1: {1: 23, 2: 45}, 'key2': 'Deepa'}

In [64]:
#delete the element in a nested dictionery
d11

{1: {1: 23, 2: 45}}

In [68]:
del d11["key2"]

In [69]:
d11

{1: {1: 23, 2: 45}}

In [ ]:
#clear the dictionery

In [71]:
d11.clear()

In [72]:
d11

{}

In [73]:
#To calculate the no of element
len(d11)

0

In [75]:
d12

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 3: {'First': 1, 'Second': 2},
 'Deepa': {'Aman'}}

In [74]:
len(d12)

5

In [76]:
#extract all keys only
d12.keys()

dict_keys(['batch', 1, 2, 3, 'Deepa'])

In [77]:
#Extract all the vlaues
d12.values()

dict_values([['datasci', 'dsa', 'webd'], ('deepa', 'aman', 'jai'), {1, 2, 3, 4}, {'First': 1, 'Second': 2}, {'Aman'}])

In [78]:
#show this in form of list
list(d12.values())

[['datasci', 'dsa', 'webd'],
 ('deepa', 'aman', 'jai'),
 {1, 2, 3, 4},
 {'First': 1, 'Second': 2},
 {'Aman'}]

In [80]:
#Extract a list of key value pair both
list(d12.items())   #no of tuple = no of the key value pair

[('batch', ['datasci', 'dsa', 'webd']),
 (1, ('deepa', 'aman', 'jai')),
 (2, {1, 2, 3, 4}),
 (3, {'First': 1, 'Second': 2}),
 ('Deepa', {'Aman'})]

In [82]:
#Copy the data of one dictionery into another
d13=d12.copy()

In [83]:
d13   #Use of copy keyword do deep coping (trying to reserve a new space and place the data there)

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 3: {'First': 1, 'Second': 2},
 'Deepa': {'Aman'}}

In [84]:
d14=d13

In [85]:
d14

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 3: {'First': 1, 'Second': 2},
 'Deepa': {'Aman'}}

In [86]:
#Difference b/w both way of copying the dictionery
del d12["Deepa"]

In [87]:
d12  #Deepa key will be deleted

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 3: {'First': 1, 'Second': 2}}

In [88]:
d13   #Deepa key is present here

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 3: {'First': 1, 'Second': 2},
 'Deepa': {'Aman'}}

In [ ]:
del d13[3]

In [91]:
d13   # 3 key will be deleted now

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 'Deepa': {'Aman'}}

In [92]:
d14  #3 key is also deleted from here  (Solo copying)

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 'Deepa': {'Aman'}}

# so the difference is copy using copy keyword ,the change in one dictionery will not affect the other dictionery
#but copying without keyword ,the change will be shown in both dictionery

In [93]:
#remove last element
d13

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4},
 'Deepa': {'Aman'}}

In [94]:
d13.pop("Deepa")   #remove a specific key and return the corresponding value
                #pop function required parameters

{'Aman'}

In [95]:
d13

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4}}

In [96]:
# first parameter is keys and second parameter is values
d13.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [97]:
#dictionery inside tuple
dict15={"key1":"value1","key2":"value2"}
dict16={"key3":"value3","key4":"value4"}

In [98]:
(dict15,dict16)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [99]:
#update function
dict15.update(dict16)

In [100]:
dict15  #dict15 will get all the key value pair of dict16

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [101]:
dict16

{'key3': 'value3', 'key4': 'value4'}

In [102]:
#get function
dict15.get("key3")

'value3'

In [105]:
dict15["key3"]   #same answer as above

'value3'

In [ ]:
#but the difference is:get function will not give anything if the key is not present in the dictionery
#but the simple access will show error if the key is not present in the dictionery

In [107]:
dict15.get("Deepa")

In [106]:
dict15["Deepa"]

KeyError: 'Deepa'

#dictionery comprehension

In [ ]:
#Exercise
#We want a dictionery of keys 1-10 and the values will be the square of the key

In [108]:
{ i:i**2for i in range(1,11)}

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\WELCOME\AppData\Local\Temp\ipykernel_29160\914100005.py:1: SyntaxWarning: invalid decimal literal
  { i:i**2for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [112]:
#Exercise
#create a dictionery of keys and the value is the logarithmic of the key
import math
d17={i:math.log10(i) for i in range(1,11)}

In [113]:
d17

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [111]:
d13

{'batch': ['datasci', 'dsa', 'webd'],
 1: ('deepa', 'aman', 'jai'),
 2: {1, 2, 3, 4}}

In [110]:
#to find a key in the dictionery
2 in d13

True

In [ ]:
#Exercise
#create a dictionery of keys and the value is the logarithmic of the key
#Extract only the even term of key

In [115]:
d17

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [114]:
for i in d17.keys():
    if i%2==0:
        print(d17[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

In [7]:
length=5
while(length!=0):
    j=0
    while(j<=20):
        print(j,end="")
        j+=2
    print("")
    length-=1

024
024
02
02
0