In [1]:
#function
l=[1,2,4,6,7,8,5,3,6,4,5,8]
len(l)

12

In [2]:
#Create our own function
# use def to provide definition of the function
def test():
    pass       #pass allows us to leave a function without body and dont show an error

In [3]:
def test1():
    print("This is my first function")

In [5]:
test1()

This is my first function

In [6]:
#Append the output of the string with a string
test1()+"Deepa"  #generate error
#because print type is only return the nontype as output

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
#The solution of this 
def test2():
    return("This is the second function")

In [10]:
test2()+" Deepa"  #cancate this time
#because the return gives the same datatype as provided
#so use always return not print

'This is the second function Deepa'

In [ ]:
#function get provide multiple output pf diiferent datatypes

In [12]:
def test3():
    return 1,2,34.56,"Deepa"

In [14]:
test3()

(1, 2, 34.56, 'Deepa')

In [24]:
test3()[0]   #Get separate return

1

In [26]:
test3()[1]   #Get separate return

2

In [27]:
test3()[2]    #Get separate return

34.56

In [28]:
test3()[3]     #Get separate return

'Deepa'

In [29]:
#We can assign returns to multiple variable
w,x,y,z=test3()

In [30]:
w

1

In [31]:
x

2

In [32]:
y

34.56

In [33]:
z

'Deepa'

In [15]:
a=2,3,4,5,6  #single variable contain multiple values

In [16]:
a

(2, 3, 4, 5, 6)

In [17]:
a,b,c,d=1,2,34.56,"Deepa"

In [18]:
a

1

In [19]:
b

2

In [20]:
c

34.56

In [21]:
d

'Deepa'

In [34]:
def test4():
    a=2*3+5
    return a

In [35]:
test4()

11

In [36]:
#function with parameters
def test5(a,b):
    c=a+b
    return c

In [39]:
test5(34.56,3)

37.56

In [40]:
test5("Deepa"," gupta")

'Deepa gupta'

In [41]:
test5([1,2,3,4,5],[6,7,8,9,10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
test5(b=" gupta",a="deepa") #irrespective of the order of parameters

'deepa gupta'

In [94]:
#Write  a function that will take below list as a input and return the only int values as output
list1=[1,2,3,4,5,"Deepa","Gupta",[2,4,5,6,77,77,88,54]]

In [77]:
#this function will give integer values of outer list
def separate(a):    #a will be any list
    n=[]
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [78]:
separate(list1)

[1, 2, 3, 4, 5]

In [95]:
#this function will give integer values of nested list as well
def separate2(a):
    n=[]
    for i in a:
        if type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j)
        else:
            if type(i)==int or type(i)==float:
                n.append(i)
    return n

In [96]:
separate2(list1)

[1, 2, 3, 4, 5]

In [97]:
#When we dont know the number of parameters to pass to a function
def test1(*args):
    return args

In [98]:
test1(2)

(2,)

In [100]:
test1([1,34,5,6],(5,7,8,9,5),"string")  #takes any number of argument

([1, 34, 5, 6], (5, 7, 8, 9, 5), 'string')

In [102]:
def test2(*Deepa):
    return Deepa

In [103]:
test2(8,9)

(8, 9)

In [105]:
def test3(*args,a):
    return args,a

In [106]:
test3(4)   #Error a is missing

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [107]:
test3(1,4,5,6,a="Deepa")

((1, 4, 5, 6), 'Deepa')

In [ ]:
#create a function we will pass multiple type data and it will return only the list data

In [2]:
def func1(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
            
    return l        #both function is working fine in pw lab but not here

In [4]:
func1(1,2,3,4,[1,2,3,4,6,6],(4,5,6,7,8,5,4),{4,5,3,5,3,5},"Deepa",[5,6,7,"Aman"],[1,3,5])

[[1, 2, 3, 4, 6, 6], [5, 6, 7, 'Aman'], [1, 3, 5]]

In [ ]:
#Now create a function with multiple parameters in the form of the dictionery

In [127]:
def func1(**kwargs): #this ** means take any number of input but in the form of key and value 
   return kwargs

In [128]:
func1()   #Func1 is a empty dictionery now(no arguments passed)

{}

In [132]:
func1(a=2,b=3,v=5,c=[1,2,3,4,7],d=(4,5,6,6),p=("name","Deepa"))

{'a': 2,
 'b': 3,
 'v': 5,
 'c': [1, 2, 3, 4, 7],
 'd': (4, 5, 6, 6),
 'p': ('name', 'Deepa')}

In [6]:
def test6(**kwargs):   #Kwargs is not a keyword here it can be any word
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i,kwargs[i]

In [7]:
test6(a=2,b=3,v=5,c=[1,2,3,4,7],d=(4,5,6,6),p=("name","Deepa"))

('c', [1, 2, 3, 4, 7])

In [8]:
def test7(*args,**kwargs):   #this 
    return args ,kwargs

In [15]:
test7(1,4,6,8,6,a=45,b=67,c=6)  #returns a tuple of tuple and dictionery

((1, 4, 6, 8, 6), {'a': 45, 'b': 67, 'c': 6})

<H2>#Generator function:It helps in writing function in a more efficient way rather than blocking the memory space

In [16]:
range(1,10)  #this will not work outside for loop

range(1, 10)

In [17]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
l=[1,2,3,4,5,67,8,"Deepa","Gupta"]

In [19]:
def test10(a):
    n=[]
    for i in a:
        if type(i)==int:
            n.append(i)
    return n

In [20]:
test10(l)

[1, 2, 3, 4, 5, 67, 8]

<H4> #If the a contain billion no of inputs inside the list then this function is iterate billion no of times to provide the n list in return

<h6>#alternative of this
    
#range is also a functin but it is not giving me a data but the function test10 does
    
    
#The range is not allote the data to some memory space as the function does
    
    
#The range only tries to remember the last data not the whole data
    
    
#on the basis of the last data it generates the next data 
    
    
#How to create range as a function
    
    
#yield keyword help us in generating function

In [ ]:
#Fibonacci series
0,1,1,2,3,5,8,13,21,34......
#This will work as add previous 2 digits,return the ans and forget it and go ahead do same for other

In [2]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a   #this yield will return the result one by one when we put it inside the loop
        a,b=b,a+b          #instead of iterating the whole dataset

In [3]:
test_fib(12)

In [4]:
for i in test_fib(12):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89

In [53]:
def isprime(n):
    for i in range (2,n):
        if n%i==0:
            return False
    return True

In [57]:
def prime_num2(n):
    for i in range(2,n):
        if isprime(i)==True:
            yield i

In [58]:
prime_num2(10)

In [59]:
for i in prime_num2(100):
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)
print(next(prime_num2)